@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo-ExtraBold.woff2') format('woff2'),
        url('fonts/Exo-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo-ExtraLight.woff2') format('woff2'),
        url('fonts/Exo-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo-Regular-Italic.woff2') format('woff2'),
        url('fonts/Exo-Regular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo-Light-Italic.woff2') format('woff2'),
        url('fonts/Exo-Light-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo-Bold-Italic.woff2') format('woff2'),
        url('fonts/Exo-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo-Medium.woff2') format('woff2'),
        url('fonts/Exo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo-Bold.woff2') format('woff2'),
        url('fonts/Exo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo-DemiBold.woff2') format('woff2'),
        url('fonts/Exo-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo-ExtraLight-Italic.woff2') format('woff2'),
        url('fonts/Exo-ExtraLight-Italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}


body{
	font-family: 'Roboto', sans-serif;
}
.container-fluid {
	max-width: 1130px;
	position: relative;
}

.flex-row,
.flex-main{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flexbox;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flex-row,
.cs-row{
	margin: 0 -8px;
}
.flex-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.flex-inner{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-grow: 1;
     -webkit-flex-grow: 1;
}
.flex-grow{
	flex-grow: 1;
    -webkit-flex-grow: 1;
}

/*---------------- Common -------------*/
img {
	max-width: 100%;
	height: auto;
}
.gm-style img {
	max-width: none;
}
.overflow-hidden {
	overflow: hidden;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Exo';
}
a {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #222;
}

.button{
	display: inline-block;
	padding: 13px 20px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	border: 1px solid;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family: 'Exo';
}
.button:hover,
.button:focus{
	text-decoration: none;
	color: #fff;
	opacity: 0.8;
}
.button::after{
	content: "";
	display: inline-block;
	width: 17px;
	height: 4px;
	margin-left: 25px;
	vertical-align: middle;
}
.button-black{
	background: #000;
	border-color: #000;
}
.button-black::after{
	background: #2aab66;
}
.button-green{
	background: #2aab66;
	border-color: #2aab66;
}
.button-green::after{
	background: #fff;
}
.button-transparent{
	background: none;
}
.button-transparent.button-black{
	color: #000;
}
.button-transparent.button-black::after{
	background: #000;
}

/*------------ header  ------------*/


.site-header{
	padding: 36px 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10000;
}
.site-branding{
	float: left;
}
.site-title{
	margin: 0;
}
.site-title a{
	display: block;
	width: 183px;
	height: 52px;
	background: url(../images/logo-alt.png) no-repeat;
	text-indent: -9999px;
}
.home .site-title a,
.single-service .site-title a,
.single-post .site-title a,
.single-news .site-title a,
.page-template-page-company .site-title a,
.page-template-page-career .site-title a{
	background-image: url(../images/logo.png);
}
.main-navigation{
	float: right;
	font-family: 'Exo';
}
.main-navigation ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-navigation .menu > li{
	margin-left: 40px;
	float: left;
	position: relative;
	padding-bottom: 10px;
}
.main-navigation a{
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}
.home .main-navigation a,
.single-service .main-navigation a,
.single-post .main-navigation a,
.single-news .main-navigation a,
.page-template-page-career .main-navigation a{
	color: #fff;
}
.main-navigation ul ul{
	position: absolute;
	left: 0;
	top: 100%;
	background: #fff;
	padding: 10px;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	min-width: 200px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.main-navigation ul li:hover ul{
	opacity: 1;
	visibility: visible;
}
.main-navigation ul ul li a{
	color: #000 !important;
}

.nav-toggle{
	float: right;
	display: none;
	position: relative;
	width: 24px;
	height: 18px;
	cursor: pointer;
	margin: 10px 0;
}
.nav-toggle span{
	width: 100%;
	height: 3px;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
	-moz-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
	-o-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
	opacity: 1;
}
.home .nav-toggle span,
.single-service .nav-toggle span,
.single-post .nav-toggle span,
.single-news .nav-toggle span,
.page-template-page-career .nav-toggle span{
	background: #fff;
}
.nav-toggle span:nth-child(2){
	top: 7px;
}
.nav-toggle span:nth-child(3){
	top: 14px;
}
.nav-toggle.open span:nth-child(1){
	top: 7px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.nav-toggle.open span:nth-child(2){
	left: -14px;
	opacity: 0;
}
.nav-toggle.open span:nth-child(3){
	top: 7px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}


/*----- home ----*/


.home-banner{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right 0;
	padding-top: 140px;
	position: relative;
	min-height: 780px;
}
.prlx-bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: 100%;
	transform: translateZ(-1px) scale(1.5);
	z-index: -1;
}
.banner-conntent{
	padding: 170px 0 250px;
	max-width: 730px;
	margin: 0 auto;
	color: #fff;
	position: relative;
}
.banner-conntent h2{
	font-size: 60px;
	margin: 0 0 35px;
	font-weight: normal;
	line-height: 1.0833;
}
.banner-conntent h2 span{
	text-decoration: underline;
}
.banner-conntent p{
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	float: left;
	line-height: 1.66667;
}
.banner-conntent .button{
	float: right;
}


.home-slider{
	background: #2f3e53;
	padding: 60px 0;
}
.home-slider-main{
	max-width: 1390px;
	margin: 0 auto;
}
.slide-item{
	position: relative;
}
.slide-image{
	position: relative;
	padding-bottom: 40.028%;
}
.slide-image > img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slider-content{
	background: #fff;
	max-width: 590px;
	float: right;
	right: 120px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 65px 70px;
	opacity: 0;
	-webkit-transition: all 0.5s ease 0.65s;
	-moz-transition: all 0.5s ease 0.65s;
	-ms-transition: all 0.5s ease 0.65s;
	-o-transition: all 0.5s ease 0.65s;
	transition: all 0.5s ease 0.65s;
}
.slick-active .slider-content{
	opacity: 1;
	right: 212px;
}
.slider-content::before{
	content: "";
	width: 240px;
	height: 12px;
	position: absolute;
	left: 70px;
	top: 0;
	background: url(../images/dotted-bg.png);
}
.slider-content h2{
	font-size: 25px;
	font-weight: normal;
	line-height: 1.4;
	margin: 0 0 20px;
}
.slick-arrow{
	position: absolute;
	width: 53px;
	height: 53px;
	background: #fff;
	border: none;
	padding: 0;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	line-height: 53px;
	font-size: 16px;
	color: #2aab66;
	left: 0;
	top: calc(50% - 26px);
	cursor: pointer;
	z-index: 99999;
}
.slick-arrow.slick-next{
	left: auto;
	right: 0;
}

.home-slider .slick-arrow{
	left: 80px;
}
.home-slider .slick-arrow.slick-next{
	right: 80px;
	left: auto;
}


/*--- Services ----*/

.banner-fix{
	padding-top: 130px;
}

.page-banner{
	padding-top: 140px;
	position: relative;
}
.page-banner::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(26,37,66,0.2);
}
.page-banner-main::after,
.page-banner-main::before
{
	content: "";
	background: url(../images/bottom-gradient.png) repeat-x 0 bottom;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

}
.page-banner-main::before{
	background: url(../images/top-gradient.png) repeat-x 0 0;
}
.company-banner.page-banner::before,
.company-banner .page-banner-main::after,
.company-banner .page-banner-main::before{
	display: none;
}
.page-banner h1{
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 10px;
}
.service-banner h1{
	font-size: 50px;
	font-weight: bold;
}
.page-banner-inner{
	padding-top: 200px;
	padding-bottom: 95px;
	max-width: 770px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	position: relative;
	z-index: 2;
	font-size: 30px;
}
.service-banner .page-banner-inner{
	max-width: 570px;
}
.company-banner .page-banner-inner{
	padding-top: 100px;
	color: #000;
	max-width: 570px;
	text-align: left;
	font-size: 30px;
}

.page-banner-inner .button{
	margin-top: 25px;
}
.page-banner-inner .button::after{
	display: none;
}
.page-banner-inner .button::before{
	content: "";
	border-width: 6px 0 6px 7px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
	margin-left: 0;
	margin-right: 12px;
	display: inline-block;
	vertical-align: middle;
}
.page-head{
	text-align: center;
	font-size: 16px;
	color: #002855;
	padding-bottom: 50px;
}
.page-head h1{
	font-weight: bold;
	font-size: 50px;
	margin: 0 0 10px;
}
.page-template-page-career .page-head{
	background: #002855;
	color: #fff;
	padding: 170px 0 100px;
}
.page-template-page-career .page-head h1{
	font-size: 14px;
	margin-bottom: 20px;
}
.page-template-page-career .page-head h2{
	font-weight: bold;
	font-size: 50px;
	margin: 0 0 10px;
	line-height: 1.3;
}
.page-template-page-career .page-head .page-head-inner{
	max-width: 625px;
	margin: 0 auto;
	text-align: left;
}
.career-image{
	margin-bottom: 35px;
}

.service-main{
	background: #eaeced;
	padding: 60px 0 44px;
}
.service-main .row{
	margin: 0 -8px;
}
.service-main .col-xs-12{
	padding: 0 8px;
	margin-bottom: 16px;
}
.service-item{
	position: relative;
	padding-top: 124%;
}
.service-item h2{
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	margin: 0;
	padding: 45px 40px 0;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}
.service-bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.service-bg::before{
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	background: url(../images/top-gradient.png);
}
.service-list{
	position: absolute;
	left: 22px;
	right: 22px;
	bottom: 29px;
	background: #fff;
	padding: 25px 15px;
	z-index: 9;
}
.service-list.btn-only{
	right: auto;
	padding: 0;
}
.service-list li{
	font-style: 16px;
	margin-bottom: 4px;
}
/*.service-list::after{
	content: "";
	height: 14px;
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 10px;
	background-image: url(../images/dotted-bg.png);
}*/
.brochure-download a{
	display: inline-block;
	padding: 17px 30px;
	color: #000;
	margin-left: -30px;
	margin-bottom: -20px;
	font-size: 13px;
	text-decoration: none;
}
.brochure-download a i{
	font-size: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.service-list.btn-only .brochure-download a{
	margin-left: 0;
	margin-bottom: 0;
}
.page-content-main{
	position: relative;
	padding-top: 30px;
	font-size: 16px;
	line-height: 1.625;
}
.page-content-main::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
	background: url(../images/dotted-bg.png) 0 bottom;
}
.page-content-inner{
	max-width: 884px;
	margin: 0 auto;
	background: #fff;
	padding: 50px 60px;
	position: relative;
}

.entry-content p{
	margin-bottom: 40px;
}
.entry-content ul{
	margin-bottom: 40px;
}
.entry-content h2{
	font-size: 30px;
	margin: 0 0 30px;
	font-weight: bold;
}
.feature-list li{
	border-bottom: 1px solid #eaeced;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.feature-list li:last-child{
	border-bottom: none;
}
.contact-info-bar{
	background: #002855;
	padding: 45px 70px 0;
	color: #fff;
	margin-bottom: 32px;
}
.contact-info-bar .col-xs-12{
	margin-bottom: 40px;
}
.contact-info-bar h2{
	font-weight: bold;
	margin: 0;
	line-height: 1.4;
}
.contact-info-bar .call-wrap{
	padding-left: 85px;
	font-size: 20px;
	position: relative;
	background: url(../images/call.png) no-repeat;
	min-height: 63px;
}
.contact-info-bar .call-wrap p{
	font-size: 30px;
	margin: 0;
	color: #ffad00;
	font-weight: bold;
}
.single-bottom{
	background: #eaeced;
	padding: 50px 0 60px;
}
.service-carousel-main .container-fluid > h2{
	color: #002855;
	margin: 0 0 55px;
}
.single-bottom h2{
	margin: 0 0 50px;
	font-weight: bold;
}
.carousel-item{
	padding: 0 8px;
}

/*----- blog -----*/

.blog-grids .col-xs-12{
	padding: 0 8px;
}
.blog-grid-item{
	background: #fff;
}
a.blog-grid-item{
	text-decoration: none;
	color: #000;
	font-size: 16px;
	line-height: 1.625;
	margin-bottom: 16px;
}
.blog-card-content{
	background: #fff;
	padding: 35px 50px 50px;
	box-shadow: 1px 1px 90px 0 rgba(29,29,29,0.2);
	position: relative;
}
.blog-card-content::after{
	content: "";
	width: 0;
	height: 6px;
	background: #ffad00;
	left: 50%;
	position: absolute;
	bottom: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.blog-grid-item:hover .blog-card-content::after{
	width: 100%;
	left: 0;
}
.blog-card-content h2,
.blog-card-content h3{
	font-weight: bold;
	font-size: 20px;
	color: #002855;
	margin: 0 0 26px;
}
.blog-card-content p{
	margin-bottom: 25px;
}
.blog-card-content span,
.post-date-meta{
	font-size: 14px;
	color: #8f8f8f;
}
.blog-card-content span i,
.post-date-meta i{
	font-size: 16px;
	margin-right: 8px;
	vertical-align: middle;
}
.loadmore{
	margin: auto;
}

.blog-single-main{
	max-width: 770px;
	margin: 0 auto;
	padding: 70px 0 40px;
	position: relative;
}
.blog-single-content{
	font-size: 16px;
	line-height: 1.625;
}
.blog-single-content h2,
.blog-single-content h3,
.blog-single-content h4{
	font-weight: bold;
	margin-bottom: 25px;
}
.blog-single-content p:first-of-type::first-letter {
	font-size: 50px;
	font-weight: bold;
	line-height: 1;
}
.post-date-meta{
	margin-bottom: 30px;
	display: block;
}
.social-share{
	border: 1px solid #eaeced;
	padding: 20px 15px;
	font-size: 30px;
	display: inline-block;
	margin-bottom: 30px;
}
.social-share span{
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.social-share ul{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}
.social-share a{
	text-decoration: none;
	color: #3a589b;
}
.social-share a.tw{
	color: #2ca7e0;
}


.contact-main{
	font-size: 16px;
}
.contact-main h2{
	font-size: 20px;
	font-weight: bold;
	color: #002855;
	margin: 0 0 28px;
}
.contact-info{
	margin-bottom: 50px;
}
.contact-info i,
.contact-info li span{
	display: inline-block;
	vertical-align: middle;
	margin-right: 14px;
	font-size: 15px;
}
.wpcf7-form .row{
	margin: 0 -8px;
}
.wpcf7-form .col-xs-6,
.wpcf7-form .col-xs-12{
	padding: 0 8px;
}
.form-item{
	position: relative;
	margin-bottom: 26px;
}
.form-item label{
	position: absolute;
	left: 10px;
	top: 6px;
	margin: 0;
	font-size: 13px;
	font-weight: normal;
	color: #000;
	z-index: 2;
}
.form-item .wpcf7-form-control-wrap{
	display: block;
}
.form-item .wpcf7-form-control-wrap .wpcf7-form-control{
	background: #fff;
	display: block;
	width: 100%;
	padding: 30px 10px 10px;
	height: 54px;
	border: 1px solid #fff;
	color: #000;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.form-item .wpcf7-form-control-wrap textarea.wpcf7-form-control{
	height: 97px;
}
.form-item .wpcf7-form-control-wrap .wpcf7-form-control:focus{
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #9e9e9e;
}
.g-map-main{
	height: 325px;
}

.single-page-content{
	max-width: 740px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.625;
}

/*----- Company -------*/

.company-main-desc{
	background: #fff;
	padding-top: 66px;
	margin-top: -44px;
	padding-bottom: 70px;
}
.company-main-desc-inner{
	max-width: 745px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.625;
}

.company-wwd{
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0 40px 130px;
	-webkit-box-shadow: 1px 1px 90px 0 rgba(29,29,29,0.21);
	box-shadow: 1px 1px 90px 0 rgba(29,29,29,0.21);
	margin-bottom: 82px;
}
.company-wwd-desc{
	float: right; 
	max-width: 472px;
	background: #fff;
	width: 100%;
	border-bottom: 6px solid #ffad00;
	margin-top: -30px;
	font-size: 16px;
	line-height: 1.625;
	padding: 60px 65px 40px;
	-webkit-box-shadow: 1px 1px 90px 0 rgba(29,29,29,0.21);
	box-shadow: 1px 1px 90px 0 rgba(29,29,29,0.21);
}
.company-wwd-desc h2{
	font-size: 30px;
	color: #002855;
	font-weight: bold;
	margin: 0 0 40px;
}

.company-our-mission{
	background: #ffad00;
	padding: 85px 0 30px;
	font-size: 16px;
	line-height: 1.625;
}
.company-our-mission h2{
	color: #002855;
	margin-bottom: 22px;
}
.content-column{
	padding: 0 15px;
}
.company-our-vision{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 105px 85px;
	text-align: center;
}
.company-our-vision-inner{
	max-width: 660px;
	margin: 0 auto;
	color: #fff;
	font-size: 30px;
	line-height: 1.66667;
}
.company-our-vision h2{
	font-size: 30px;
	color: #ffad00;
	font-weight: bold;
	margin: 0 0 15px;
}
.company-logos{
	padding: 80px 0 50px;
	text-align: center;
}
.company-logos li{
	padding: 0 18px 30px;
	vertical-align: middle;
}
.certificate-logos{
	margin: 0 -5px;
}
.certificate-logos li{
	width: 20%;
	padding: 0 5px;
	margin-bottom: 10px;
}
.certificate-logos li span{
	background: #fff;
	padding: 13px 10px;
}
.certificate-logos li img{
	margin: auto;
}

/*-------- Gallery -----*/


a.gallery-grid-item{
	margin-bottom: 20px;
	padding: 20px 18px;
	background: #fff;
	text-decoration: none;
	color: #000;
	font-size: 16px;
	text-align: center;
}
a.gallery-grid-item h3{
	font-size: 20px;
	color: #002855;
	font-weight: bold;
	margin: 18px 0 10px;
}
a.gallery-grid-item p{
	margin: 0;
}

.gallery-main{
	position: fixed;
	z-index: 100000;
	opacity: 0;
	visibility: hidden;
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
	-moz-transition: opacity 0.3s ease, visibility 0.3s ease;
	-ms-transition: opacity 0.3s ease, visibility 0.3s ease;
	-o-transition: opacity 0.3s ease, visibility 0.3s ease;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	font-size: 0;
}
.gallery-main::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
.gallery-main.loading{
	background: url('../images/loading.svg') center no-repeat rgba(0,0,0,0.9);
}
.gallery-main.active{
	opacity: 1;
	visibility: visible;
}
.gallery-main .single-gallery{
	margin: 0 auto;
	position: relative;
}
.gallery-wrap{
	display: inline-block;
	width: calc(100% - 1px);
	vertical-align: middle;
}
.gallery-main::after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 1px;
}
.gallery-close{
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
	padding: 5px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.gallery-close:hover{
	opacity: 0.5;
}


/*---- Career ---*/


.current-openings{

}
.current-openings h2{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin: 0 0 35px;
	font-weight: normal; 
}
.opening-item{
	background: #fff;
	padding: 35px 45px 0;
	margin-bottom: 20px;
}
.opening-item-head{
	padding-right: 220px;
	position: relative;
	padding-bottom: 30px;
}
.opening-item-head a.button{
	position: absolute;
	right: 0;
	top: 0;
}
.opening-item h3{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin: 0 0 15px;
}
a.cr-content-toggle{
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.opening-content{
	border-top: 1px solid #eaeced;
	padding: 35px 45px;
	margin: 0 -45px;
	display: none;
}
/*---- Footer ----*/

.site-footer{
	background: url(../images/footer-bg.gif) #000;
	color: #fff;
	padding: 70px 0;
}
.site-footer nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.site-footer nav li{
	margin-bottom: 8px;
	font-family: 'Exo';
}
.site-footer nav a{
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}
.site-footer h2{
	font-size: 30px;
	margin: 0 0 30px;
	font-weight: normal;
}
.footer-contact-info{
	padding-bottom: 15px;
	margin-bottom: 25px;
	border-bottom: 1px solid #505050;
}
.footer-contact-info h2{
	margin-bottom: 15px;
}
.footer-contact-info a{
	color: #fff;
	text-decoration: none;
}
.site-footer .form-item label{
	color: rgba(255,255,255,0.3);
	font-size: 12px;
}
.site-footer .form-item .wpcf7-form-control-wrap .wpcf7-form-control{
	background: none;
	border-color: #505050;
	color: #fff;
}
.site-footer .form-item .wpcf7-form-control-wrap .wpcf7-form-control:focus{
	border-color: #fff;
}
.blog-item{
	overflow: hidden;
}
.blog-item > a{
	float: left;
	margin-right: 30px;
}
.blog-item a img{
	max-width: 107px;
}
.blog-item-content{
	overflow: hidden;
	color: #7b7d82;
}
.blog-item-content h3{
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 20px;
}
.blog-item-content h3 a{
	color: #fff;
}
.blog-item-content p{
	margin-bottom: 25px;
}


.social-links{
	padding-top: 20px;
}
.social-links a{
	font-size: 24px;
	color: #fff;
	text-decoration: none;
}
.social-links a:hover,
.social-links a:focus{
	color: #2aab66;
}
.book-a-visit-btn{
	display: none;
	text-transform: uppercase;
}
.book-a-visit-btn::after{
	display: none;
}
.book-a-visit-btn::before{
	content: "\e907";
	font-family: icomoon;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	margin-right: 15px;
}