@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w3fwct');
  src:  url('fonts/icomoon.eot?w3fwct#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w3fwct') format('truetype'),
    url('fonts/icomoon.woff?w3fwct') format('woff'),
    url('fonts/icomoon.svg?w3fwct#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail-envelope-closed:before {
  content: "\e907";
}
.icon-angle-up:before {
  content: "\e90a";
}
.icon-angle-left:before {
  content: "\e915";
}
.icon-angle-right:before {
  content: "\e916";
}
.icon-angle-down:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e906";
}
.icon-clock:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e908";
}
.icon-down:before {
  content: "\e908";
}
.icon-download:before {
  content: "\e908";
}
.icon-bottom:before {
  content: "\e908";
}
