@media (min-width:1200px){
	.social-share{
		position: absolute;
		left: -180px;
		top: 70px;
	}
	.social-share ul{
		margin: 0;
		display: block;
	}
	.social-share ul li{
		display: block;
		margin: 0 0 5px;
		padding: 0;
		text-align: center;
	}
	.social-share span{
		display: block;
		margin: 0 0 10px;
	}
}
@media (min-width:1250px){
	.service-carousel .carousel-cover-item-inner{
		opacity: 0.2;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.service-carousel .slick-active .carousel-cover-item-inner,
	.event-gallery-slider .carousel-cover-item-inner{
		opacity: 1;
	}
	.service-carousel .slick-list{
		padding-right: calc((100% - 1130px)/2);
		padding-left: calc((100% - 1130px)/2);
	}
	.service-carousel .slick-arrow{
		left: calc((100% - 1188px)/2);
	}
	.service-carousel .slick-next{
		left: auto;
		right: calc((100% - 1188px)/2);
	}
	.service-carousel .service-item{
		opacity: 0.3;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.service-carousel .slick-active .service-item{
		opacity: 1;
	}
	.company-our-mission .row{
		margin: 0 -35px;
	}
	.content-column{
		padding: 0 35px;
	}
	.book-a-visit-btn{
		position: fixed;
		left: -58px;
		top: calc(50% - 80px);
		z-index: 1000;
		display: block;
		transform: rotate(-90deg);
		transform-origin:  50%;
	}
}
@media (max-width:970px){
	.home-slider .slick-arrow.slick-next{
		left: auto;
		right: 10px;
	}
	.home-slider .slick-arrow{
		left: 10px;
	}
	.slider-content{
		width: calc(100% - 146px);
		max-width: 100%;
		right: 73px !important;
		padding: 20px;
		overflow: hidden;
	}
	.slider-content h2{
		font-size: 16px;
	}
	.certificate-logos li{
		width: 25%;
	}

}

@media (max-width:768px){
	.nav-toggle{
		display: block;
	}
	.main-navigation{
		display: none;
		float: none;
		clear: both;
		background: #fff;
		box-shadow: 0 0 3px rgba(0,0,0,0.1);
		padding: 20px;
		position: relative;
		top: 30px;
	}
	.main-navigation .menu > li{
		float: none;
		margin-left: 0;
	}
	.main-navigation a{
		color: #000 !important;
		padding: 10px 0;
	}
	.main-navigation ul ul{
		position: inherit;
		top: auto;
		opacity: 1;
		visibility: visible;
		box-shadow: none;
	}
	.banner-conntent h2{
		font-size: 40px;
	}
	.slider-content ul{
		display: none;
	}
	.slide-image{
		padding-bottom: 0;
		min-height: 450px;
	}
	.site-footer{
		text-align: center;
	}
	.site-footer h2{
		font-size: 22px;
	}
	.company-our-vision{
		padding: 100px 30px;
	}
	.company-our-vision-inner, .page-banner-inner{
		font-size: 18px;
	}
	.page-head h1, .service-banner h1, .page-template-page-career .page-head h2{
		font-size: 30px;
	}
	.page-content-inner{
		padding: 80px 20px;
	}
	.contact-info-bar{
		padding: 45px 30px 0;
	}
	.contact-info-bar h2, .contact-info-bar .call-wrap p{
		font-size: 22px;
	}
	.contact-info-bar .call-wrap{
		padding-left: 0;
		padding-top: 90px;
	}
	.certificate-logos li{
		width: 33.3333%;
	}

}
@media (max-width:600px){
	
	.wpcf7-form .col-xs-6{
		width: 100%;
	}
	.company-wwd-desc{
		padding: 30px 20px;
	}
	.certificate-logos li{
		width: 50%;
	}


}
@media (max-width:400px){
	

}